doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

.block 

body
  form(method='POST')
    .answer
      p
        | answer: 
        input(type='text', name='userAnswer', value='')
    .submit
      input(type='submit', value='Submit', class="button")

  a(href=nextPage)
   button(type="button", class="button") next

  a(href=backPage)
   button(type="button", class="button") back

  a(href='/results')
   button(type="button", class="button") Finish